@{
    ViewData["Title"] = "Анализ";
}

<div class="center_content">
    <h1 class="bold_font">Анализатор ликвидности</h1>
    <h4 class="bold_font">Из анализа в грамотную бизнес-стратегию</h4>
</div>
