@{
    ViewData["Title"] = "Помощь";
}

<div class="justify-content-start align-text-top">
    <h1 class="bold_font">Помощь</h1>
    <p>Данный веб-ресус используется и поддерживается в рамках добровольной иниативы содружества безработных программистов.<br/>Вы можете поддержать проект и разработчиков скромным пожертвованием на банку сгущенки и книги по программированию по номеру карты 5578 8433 7034 8967.</p>
</div>
